<p>The sum of 1 + 1 is {{1 + 1}}</p>
<test1></test1>
<hr><h2 id="expression-context">Expression context</h2>

<p>Component expression context (&#123;&#123;title&#125;&#125;, [hidden]="isUnchanged")</p>
<div class="context">
  {{title}}
  <span [hidden]="isUnchanged">changed</span>
</div>

<p>Template input variable expression context (let hero)</p>
<!-- template hides the following; plenty of examples later -->
<ng-template>
  <div *ngFor="let hero of heroes">{{hero.name}}</div>
</ng-template>
<p>Template reference variable expression context (#heroInput)</p>
<div (keyup)="0" class="context">
  Type something:
  <input #heroInput> {{heroInput.value}}
</div>

<a class="to-toc" href="#toc">top</a>

<hr><h2 id="statement-context">Statement context</h2>

<p>Component statement context ( (click)="onSave() )
<div class="context">
  <button (click)="deleteHero()">Delete hero</button>
</div>

<p>Template $event statement context</p>
<div class="context">
  <button (click)="onSave($event)">Save</button>
</div>
<p>Template input variable statement context (let hero)</p>
<!-- template hides the following; plenty of examples later -->
<div class="context">
  <button *ngFor="let hero of heroes" (click)="deleteHero(hero)">{{hero.name}}</button>
</div>
